KaleyraVideoCordovaPlugin.xcodeproj
KaleyraVideoCordovaPlugin.xcworkspace
.gradle
build
docs
gradle
gradlew
src/android/build
src/android/gradlew
src/android/gradlew.bat
src/android/proguard-rules.pro
src/android/src/androidTest
src/android/src/test
src/android/src/main/AndroidManifest.xml
src/android/src/main/res
src/android/build.gradle
www/src
.babelrc
build.gradle
gradlew.bat
kaleyra-video.png
tslint.json
webpack.config.js
Podfile
Podfile.lock
settings.gradle
tsconfig.json
babel.config.js
commonjs-babel.config.js
gradle.properties
Info.plist
Pods/
update_plugin_version.py
.idea/
local.properties
.iml
plugin.iml
src/android/cordova-plugin-android.iml
test/ios/